package {{package}}.domain.utils;

import java.time.LocalTime;
import java.time.temporal.ChronoUnit;

public class LocalTimeUtils {

    private LocalTimeUtils() {
    }

    public static LocalTime now() {
        return LocalTime.now().truncatedTo(ChronoUnit.MICROS);
    }

}
